<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @campaign.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @campaign.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @campaign.date_end %>
</p>

<p>
  <strong>Days:</strong>
  <%= @campaign.days %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @campaign.hours %>
</p>

<p>
  <strong>Status campaign:</strong>
  <%= @campaign.status_campaign %>
</p>

<% if !current_user.nil? %<!--este es el boton de tweet -->
    <p>Click The link below to send a tweet.</p>
    <%= link_to "Send a Tweet", new_tweet_path %>
<% else %>
    <p>You must log in to send a tweet.</p>
<% end %>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
